name: Automated Tests
on: [pull_request]
jobs:
  Pytest:
    runs-on: ubuntu-latest
    container: ghcr.io/astral-sh/uv:python${{ matrix.pythonversion }}-alpine
    strategy:
      matrix:
        pythonversion: ["3.9", "3.10"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: apk add git
      - run: sh bin/ci/check_versions.sh
      - run: uv run isort --check homely test
      - run: uv run pytest test
  Mypy:
    runs-on: ubuntu-latest
    # only run on latest supported python version
    container: ghcr.io/astral-sh/uv:python3.10-alpine
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: apk add git
      - run: uv run mypy homely test
